.navbar-brand > img {
    width: 200px;
    height: 22px;
    margin-top: 13px;
}

.navbar-brand {
    padding: 0px;
}

.searchtxt {
    width: 150px;
    float: right;
}

.buttonsearch {
    width: 75px;
    float: right;
}

.middle-logo img {
    width: 100%;
}
/* Mein coed*/
.col-md-2 {
    overflow: hidden;
    margin-bottom: 20px;
}

    .col-md-2 .poster {
        min-height: 280px;
        background-position: center;
        background-size: cover;
    }

    .col-md-2 span {
        display: none;
    }


/* Mein coed END*/

/*imported mobile stuff from stan */

.mobile-hide {
    display: block;
}

.mobile-show {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: block;
    }

    .commercial-box {
    }
}

@media only screen and (max-width: 480px) {
    .card {
    }

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: block;
    }

    .commercial-box {
    }
}
